/* PC */
@media screen and (min-width: 1024px) {
  #top .mobile-menu-btn {
    display: none;
  }
}

/* tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
  #top .mobile-menu-btn {
    display: none;
  }
}

/* mobile */
@media only screen and (max-width: 739px) {
  #top {
    overflow: hidden;
  }

  #top .nav {
    display: block;
    padding: 1px 0;
  }

  #top .nav .subnav {
    position: initial;
  }

  #top .nav .subnav a {
    padding: 1px 16px;
  }

  #top .nav:first-child {
    display: inline-block;
  }

  #top .search-btn {
    display: none;
  }

  #slider .text-content {
    display: none;
  }

  .col {
    padding-bottom: 16px;
  }

  .col-half {
    width: 100%;
  }

  /* 33.33333% to 100% */
  .col-third {
    width: 100%;
  }

  .contact-info {
    padding-left: 16px;
  }
}
